[user]
	name = Dmitry Davydov
	email = haudvd@gmail.com
[alias]
	st = status -sb
	ci = commit
	co = checkout
	cim = commit -m
  ame = commit --amend
  graph = "log --all --graph --pretty=format:'%Cred%h%Creset%x09%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
  hist = log --all --graph --decorate=full --date-order --color
  dif = diff -C --stat -p
  difc = diff -C --stat -p --cached
  put = push origin HEAD
  up = pull --rebase
  feat = flow feature
  hot = flow hotfix
  rels = flow release
[color]
   	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = simple
