textarea{resize:auto!important;min-height:25px;}

.module .header_bottom{display:block;}
.module .header_top .fl_r{color:#A3B0BC;font-weight:normal;}
.module .open{cursor:pointer;}
.module .close{background-color: #EEE !important;border-top: solid 1px #CCC !important;cursor:pointer;}
.module .draggable{display:inline;width:15px;height:13px;float:left;text-align:center;cursor:url(/images/grab.png),move;}

.stattbl table td,.stattbl table th {text-align:center}
.brphotd table tr {vertical-align:middle}
.brphotd table td {text-align:center;border-color:#678AA9;min-width:130px}
.brphotd table td.def {border-width:1px;border-style:dashed}
.brphotd table td.cur {border-width:3px;border-style:solid}
.brphotd table td img {max-height:130px;max-width:130px}

a.wikiExtLink {border-bottom:1px dashed #A7B7C9;padding-right:8px;background-image:url(/images/wikiextarr.gif);background-repeat:no-repeat;background-position:right 4px}
a.wikiExtLink:hover {text-decoration:none;border-bottom:1px solid #A7B7C9}
#profile_avatar {max-height:800px !important;height:auto !important;overflow:hidden}
.userLink{color:gray;font-size:9px;}
div.info div a img {max-height:150px;}
.searchResults .playerClass{width: 318px !important;}
.fl_l[style*="width:21px;height:21px;"]{float:right;margin-right:7px;margin-top:-21px;}
.people_table img,.people_table .name {max-width: 50px !important;overflow:hidden;}
.wallpost .info .text {width:100%}
.wallpost .text {width:100%}

.vkpro,.vkmenu{position:absolute;z-index:10000;display:none;border:1px solid #ddd!important;width:140px!important;background-color:white;}
.vkpro ol,.vkmenu ol{list-style:none;margin:0;padding:0;}
.vkpro ol li a{display:block;padding:0px!important;}
.vkpro li:hover,span.vkmenu li:hover {background-color:#DAE1E8 !important;}
.vkpro li a:hover,span.vkmenu li a:hover {text-decoration:none;}
.vkmenu ol li div span{float:right;color:gray;margin-top:-16px;cursor:pointer}
.vkmenu{width:118px;margin:5px 0 0 4px;}
.vkmenu .more_div{margin-top:3px;padding-top:3px;border-top:1px solid #E7EAED;}
.vkmenu ol li a.more{border-top:0;padding-left:6px;}
.vkmenu ol li a.more:hover{border-top:0;}
.vkmenu ol li{border-bottom:1px solid #FFF;font-size:1em;}
.vkmenu ol li a{border:0;border-top:1px solid #fff;background:#FFF;display:block;padding:3px 3px 3px 6px;}
.vkmenu ol li a:hover{background:#DAE1E8;color:#36638E;border-top:1px solid #CAD1D9;text-decoration:none;}
.vkmenu ol li img{width:16px;height:16px;}
.vkmenu .dataWrap{width:auto!important}

/*span.vkmenu ol li div {padding:3px 3px 3px 6px;}
span.vkmenu ol li div a{padding:0px 0px 0px 0px !important;}
span.vkmenu ol li{cursor:pointer}
span.vkmenu ol{margin:0px 0px 0px !important}*/

.arr,.arr_l { height:30px;line-height:30px;border:1px solid #d0d7e2;color:#d0d7e2;font-size:30px;vertical-align:middle;text-align:center;cursor:pointer;font-family:Arial;background-color:#ffffff}
.arr_on, .arr_l_on { height:30px;line-height:30px;color:#fff;font-size:30px;vertical-align:middle;text-align:center;cursor:pointer;font-family:Arial;background-color:#3b567f}
.arr_l {margin-left:-32px}
.arr_l_on{margin-left:-32px}

html{height:101% !important}
#calendarex{position:relative;left:-10pt}
#hz_cal #calendar table{width:125%}
#hz_cal #heading{font-size:8pt !important;margin:-2pt 0}
#hz_cal .rightArrow,.leftArrow {margin:0;padding:0}
#hz_cal .rightArrow a,.leftArrow a{margin:0;padding:1pt 3pt}
#hz_cal .dayRow{height:100%}
#hz_cal .dayRow td{height:13pt;overflow:hidden}
#hz_cal .dayNum{width:15pt;height:13pt;border:none}
#hz_cal .dayNum b{color:#5c7aab}
#hz_cal .dayMore{display:none}
#hz_cal .calPic{position:relative;background:rgba(255,0,0,0.2);font-size:0;margin:-13pt 0;width:15pt;height:13pt;z-index:99;display:block}
#hz_cal .calPic:hover{background:rgba(255,0,0,0.5)}
#hz_cal .calPic a{display:none}
#hz_cal .selected {background:rgba(0,0,255,0.2)}
#hz_ev{background-color:#dee;border:1pt solid #abc;padding:0;width:125%}
#hz_ev .calPic{display:block !important;background-color:#fff;border:1pt solid #abc;margin:5pt}
#hz_ev .calPic a{display:block;padding:2pt 5pt;text-align:center}
#hz_ev .calPic a img{display:block;margin:2pt auto;clear:both;border:double 2pt #abc}
#hz_cal td[style*="#CFE0F0"] .dayNum {background:#fffb8f}

#fullphototmp{position:absolute;background-color:#DAE2E8;padding:2px;z-index:65000;border-radius: 8px;-webkit-box-shadow: 0 1px 5px #7A7A7A;}
#fullphototmp img{border-radius:10px;padding:5px}

.profileTable{margin:0;padding:0;}
.profileTable td{vertical-align:top;font-size:11px;line-height:13px;margin:0;padding:1px 0;}
.profileTable .label{width:120px;color:gray;}
.dataWrap{width:260px;}

#additional1_text{overflow:hidden;}
.audio_table .audio td.info{width:344px!important;}
.audio_title_wrap{width:90%!important;}
/*info fl_l*/

.draggable{display:inline;width:15px;height:13px;float:left;text-align:center;}

.audio_filter .label {
max-width: 138px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding: 4px 5px 4px 10px;
}
.audio_filter {
border: 1px solid #F7F7F7;
color: #2B587A;
max-width: 155px;
cursor: pointer;
position: relative;
}
.audio_filter {
color: #2B587A;
cursor: pointer;
}
.audio_filter.over {
background-color: #E1E7ED;
border: 1px solid #E1E7ED;
color: #2B587A;
}
#ddbitratebest .checkbox_container,#ddbitratebest .dropdown_container{display:inline-block}
#ddbitratebest .checkbox_container{height: 25px}