#warn{display:block}
body{
  font-family:tahoma,arial,verdana,sans-serif,Lucida Sans;
  margin:0px;
  overflow:hidden;
}
table{
  border-spacing:0px 0px;
}
td{
  cursor:pointer;
  vertical-align:top;
  font-size:11px;
  padding-top:8px;
  padding-bottom:8px;
}
b{
  color:#2B587A;
}
#xleft{
  width:50px;
  height:50px;
  padding:10px;
}
#xright div{
  padding-top:4px;
}
#xuser{
  font-weight:bold;
  font-size:11px;
  padding:2px 10px 5px;
  margin:0px;
  background-image:url(http://vkontakte.ru/images/header_yellow.gif);
  background-position:top left;
  background-repeat:repeat-x;
  background-color:#EEE5B8;
  color:black;
  border-right:solid 1px #DCD4A4;
  border-left:solid 1px #E4DDB4;
  border-bottom:solid 1px #D7CF9E;
}
