html{height: 240px;}
body{height: 240px;}

#main{width: 130px;}
#divs{text-align:center;cursor:pointer;}
#warn{display:block}

body table,#nav li {
	font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
	font-size: 11px;
}

a{color: #2B587A; text-decoration: none;}

#nav {
	list-style: none;
	margin: 0 0 1.0em 0;
	padding: 0;
}

#nav li a {
	border: 0; border-top:1px solid #fff;
	background: white;
	display: block;
	padding: 3px 3px 3px 6px;
}

#nav li a:hover,
#nav li#myprofile a:hover {
	background: #DAE1E8;
	color:#36638E;
	border-top: 1px solid #CAD1D9;
	text-decoration:none;
}

#nav #nah{display:none;}
#nav:hover #nah{display:block;}
