HTML,BODY,DIV,SPAN,APPLET,OBJECT,IFRAME,P,BLOCKQUOTE,PRE,A,ABBR,ACRONYM,ADDRESS,BIG,CITE,CODE,DFN,FONT,IMG,INS,KBD,Q,S,SAMP,STRIKE,
SUB,SUP,TT,VAR,DL,DT,DD,OL,UL,LI,FIELDSET,FORM,LABEL,LEGEND,TABLE,TBODY,TFOOT,THEAD,TR,TH,TD,H1,H2,H3,H4,H5,H6 {
    padding:0;
    margin:0;
    border:none;
    vertical-align:baseline;
}
BODY {
    font: normal 13px/15px Arial, Helvetica, sans-serif;
    cursor: default;
    color: #000;
    padding: 10px;
}
/****************************/
.logo {
    float: left;
    padding-bottom: 10px;
}

.content {
    margin-left: 60px;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}

.word {
    color: #d56e00;
    font-weight: bold;
    font-size: 14px;
}