<div id="{id}" class="ll-content-notification">
    <table class="ll-content-notification-header">
        <tr>
            <td class="ll-content-notification-header-pic">
                <img src="{imagesUrl}/i16.png"/>
            </td>
            <td class="ll-content-notification-header-caption">{caption}</td>
            <td class="ll-content-notification-header-close">
                <img id="{id}_close" src="{imagesUrl}/close-btn.gif"/>
            </td>
        </tr>
    </table>
    <div class="ll-content-notification-content" id="{id}_content">
        <img src="{mainImageUrl}" alt="LinguaLeo" class="ll-content-notification-content-logo"/>
        <div class="ll-content-notification-content-main">
            <H1 class="ll-content-notification-content-header">{title}</H1>
            {text}
        </div>
    </div>
</div>