<div id="ll_meat_dialog" class="leo-warn-info">
    <h2>
        {meatballsDialogHeader}
        <br><span>{meatballsDialogHeader2}</span>
    </h2>
    <p><a id="ll_meat_dialog_invite" href="#"><i class="icon-invite"></i>{meatballsDialogInvite}</a></p>
    <p><a id="ll_meat_dialog_gold" href="#"><i class="icon-gold"></i>{meatballsDialogGold}</a></p>
    <i class="icon-lion"></i>
    <a id="ll_meat_dialog_close" href="#" class="leo-auth-close" title="{dlgCloseHint}"><i class="icon-close"></i></a>
</div>