
.leo-warn-info *{
	letter-spacing: normal !important;
	margin: 0 !important;
    padding: 0 !important;
	background: none !important;
	border: 0 !important;
	float: none !important;
	text-align: left !important;
	text-decoration: none !important;
    font: normal 15px 'Lucida Grande', 'Lucida Sans Unicode', Lucida, Arial, Helvetica, sans-serif !important;
}


.leo-warn-info{
    background-color: #fff !important;
    color: #333 !important;
    padding: 15px 15px 27px 60px !important;
    width: 265px !important;
    position: absolute !important;
    z-index: 9999999 !important;
    font: 13px "Lucida Sans Unicode", "Myriad pro", Arial !important;
    border: 1px solid #dddddd !important;
    text-align: left !important;
    width: 340px !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
}

    .leo-warn-info h2{
        color: #333 !important;
        font: 13px "Lucida Sans Unicode", "Myriad pro", Arial !important;
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 1.5 !important;
        padding:0 !important;
        margin:0 0 23px !important;
        border: none !important;
    }
        .leo-warn-info span{
            font-size: 13px !important;
        }

    .leo-warn-info p{
        padding: 0 !important;
        margin: 0 0 4px !important;
    }

        .leo-warn-info a{
            color: #3f69a9 !important;
            text-decoration: underline !important;
            font: 13px "Lucida Sans Unicode", "Myriad pro", Arial !important;
            font-weight: normal !important;
        }
        .leo-warn-info a:hover{
            color: #639b54 !important;
        }

        .leo-warn-info .icon-close {
            background-position: 2px 2px !important;
            width: 13px !important;
            height: 13px !important;
            display: block !important;
            background-image: url({llImagesUrl}/icons.png) !important;
        }

        .leo-warn-info .icon-close:hover {
            background-position: -9px 2px !important;
        }

        .leo-warn-info .icon-lion {
            width: 37px !important;
            height: 38px !important;
            background-position: left -40px !important;
            display: block !important;
            background-image: url({llImagesUrl}/icons.png) !important;
            display: block !important;
            position: absolute !important;
            left: 13px !important;
            top: 18px !important;
        }

        .leo-warn-info .icon-invite {
            width: 25px !important;
            height: 20px !important;
            background-position: -29px top !important;
            display: block !important;
            background-image: url({llImagesUrl}/icons.png) !important;
            display: inline-block !important;
            margin-right: 8px !important;
            position: relative !important;
            top: 6px !important;
            vertical-align: baseline !important;
        }

        .leo-warn-info a:hover .icon-invite{
            background-position: -92px top !important;
        }

        .leo-warn-info .icon-gold {
            width: 24px !important;
            height: 24px !important;
            background-position: -61px top !important;
            display: block !important;
            background-image: url({llImagesUrl}/icons.png) !important;
            display: inline-block !important;
            margin-right: 9px !important;
            position: relative !important;
            top: 9px !important;
            vertical-align: baseline !important;
        }

        .leo-warn-info a:hover .icon-gold{
            background-position: -124px top !important;
        }


.leo-auth-close {
    position: absolute !important;
    right: 9px !important;
    top: 9px !important;
    cursor: pointer !important;
}





