/* This css is included against media='print' and is used for styling the printed output. */

#meOrg_notebookListPane, #meOrg_itemListPane, #meOrg_feedWebViewPane_headerToolbar, #meOrg_feedWebViewPane_webview, #meOrg_feedWebViewPane_footerToolbar, #meOrg_feedWebViewPane_articleContainer_contentArea_tempFooter, #meOrg_feedWebViewPane_articleContainer_contentArea_star {
  display: none;
}

html, body {
    height: 100%;
    width: 100%;
}

#meOrg_feedWebViewPane_articleContainer {
    position: absolute;
    width: 100%;
}

.zettel {
    margin: 0 10px 0 0;
}

.header {
    width: inherit;
    min-height: 117px;
    border-bottom: 2px solid #4C4C4C;
}

.headline-zettel {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    padding: 20px 0 0 10px;
    color: #000; 
    font-size: 1.375em;
    font-weight: bold;
    vertical-align: text-top;
    width: inherit;
}

.image {
    position: relative;
    float: right;
    padding: 20px 0 0 30px;
    height: 92px;
    width: 92px;
    display:table;
}

.image2 {
    position: relative;
    height: 92px;
    width: 92px;
    display: table-cell;
    vertical-align: middle;
}

.image2 img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content{
    text-align: justify;
    float: left;
    padding: 10px 10px 20px 10px;
    min-width: 90%;
    width: inherit;
    min-height: 35px;
    left: 0;
    right: 0;
    display: block;
}


.modified {
    position: relative;
    float: left;
    margin-right: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 2px solid #4C4C4C;
    /* noch nicht funktionstüchtig */
    display: none;
}

.modified_text {
    padding: 5px 10px 10px;
    display: block;
    font-size: 0.8em;
    color: #4C4C4C;
}

.printsource {
    position: static;
    float: right;
    color: #4C4C4C;
    font-size: 0.8em;
    padding: 5px 10px 0 30px;
/*  mit modified
    margin: -35px -20px 0 0;
*/
    margin: -5px 0 0 0;
    border-top: 2px solid #4C4C4C;
}

a {
    text-decoration : underline;
    color: #778899;
}

.subtext-headline {   
    font-size: 1.15em; 
    font-weight: bold;
    padding-bottom: 5px;
}

.source {
    left: 0;
    right: 0;
    clear: both;
    margin-bottom: 10px;  
    line-height: 1em;
    font-size: 1em;
    min-height: 1em;
    height: auto;
    padding: 0 0 5px 0;
}

.source div {
    position: absolute;
    display: inline-block;
}

.source img {
    position: absolute;
    padding-left: 4em;
    margin-top: 3px;
    width: 16px;
    height: 16px;
    border: 1px #0000ff;
    margin-bottom: -3px;
}

.subtext-content {
    padding-bottom: 15px;
}

.caption-print {
    padding-left: 5.5em;
    margin-top: 1px;
    text-decoration : underline;
    color: #778899;
    word-wrap: break-word;
}

.caption {
    visibility: hidden;
    display: none;
}

.list-label {
    margin: 0 0 5px 0;
}

.list-label:before {
    content: "";
    display: inline-block;
    margin: 0 10px 0 0;
    width: 15px;
    height: 15px;
    vertical-align: baseline;
    border: 1px solid #000;
    -webkit-border-radius: 5px;
}

.enyo-checkbox-checked:after {
    content:  "x";
    font-family: Verdana;
    position: absolute;
    margin-top: -11px;
    font-size: 1.4em;
    line-height: 1.4em;
}
