<style>
.enyo-vflexbox > * { height:100%; }

#article_container { text-align: left; }

.checkbox-row {
    margin-bottom: 5px;
    margin-right: 25px;
}

.checkbox-selected {
}

.checkbox-unselected {
}

.list-label {
    margin-left: 10px;
}

.searchResult {
    background-color: yellow;
}

.enyo-sliding-view-shadow {
    /*display: none;*/
}

.itemViewHeader {
    /*border: 2px solid #ffffff;*/
    position: relative;
    left: 0;
    top: 0;
    height: 40px; 
    /*vertical-align: middle;*/ 
    font-weight: bold; 
    width: 300px; 
    /*text-align: center;*/ 
    text-overflow: ellipsis; overflow: hidden; white-space: nowrap; 
    font-size: 18px; 
    color: white; 
    margin-left: -5px; 
    margin-top: 12px; 
}


.nextSteps {
    margin-top: 20px;
}

/* Notebook Pane */
#meOrg_notebookListPane_itemSpinner {
    margin: -4px 0 -10px;
}

#meOrg_notebookListPane_groupimage {
    margin: 1px 0 -3px;
}

/* ItemList*/

#meOrg_itemListPane_searchBox {
    -webkit-border-image: none;
    background-color: #fff;
    padding: 14px;
    border-bottom: 1px solid #adadad;
    border-top: none;
    border-left: none;
    border-right: none;
}

#meOrg_itemListPane_itemSpinner {
    position: absolute;
    right: 7px;
}


.enyo-item.item-not-selected {
  background-color: #ffffff;
  color: #000000;
}

.enyo-item.item-selected {
    background-color: #FFD200;
    background-image: -webkit-gradient(linear,center top,center bottom,from(rgba(255,255,255,0.3)),to(rgba(1,1,1,0.1)));
    border: none;
/*
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff  
*/
}

.listimage {
    position: relative;
    float: left;
    height: 48px;
    width: 48px;
    display:table;
    margin-right: 15px;
}

.listimage2 {
    position: relative;
    height: 48px;
    width: 48px;
    display: table-cell;
    vertical-align: middle;
}

.listimage2 img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}


.listimage-mobile {
    position: relative;
    float: left;
    height: 32px;
    width: 32px;
    display:table;
    margin-right: 10px;
}

.listimage2-mobile {
    position: relative;
    height: 32px;
    width: 32px;
    display: table-cell;
    vertical-align: middle;
}

.listimage2-mobile img {
    display: block;
    max-width: 32px;
    max-height: 32px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.feeditem-mobile {
    padding: 5px 10px;
}


/* Popups */

.enyo-modaldialog {
    border-width: 42px 168px 50px 24px;
    -webkit-border-image: url(../images/dialog.png) 42 168 50 24 repeat repeat;
}

.enyo-modaldialog-container {
    margin: -22px -148px -14px -4px;
}

.enyo-modaldialog-content {
    max-width: inherit !important;
}

.enyo-modaldialog-container .enyo-group.labeled {
    border-width: 36px 14px 14px 14px;
    -webkit-border-image: url(../images/dialog-group-labeled.png) 36 14 14 14 repeat repeat;
}


/* Zettel Layout */

.hg {
    position: fixed;
    margin: 0;
    background-image: url(../images/pattern.jpg);
    left: 0;
    right: 0;  
    top: 0;
    bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.accent {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;  
    min-height: 7px;
    height: 7px;
    background-color: #FFD200;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 7;
}

.accent2 {
    position: fixed;
    margin: -6px 0 0 60px;
    width: 10px;
    top: 0;
    left: 0;
    right: 0;  
    min-height: 10px;
    height: 10px;
    background-color: #FFD200;
    -webkit-transform: rotate(45deg);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
    
.zettel {   
    position: absolute;
    margin: 10px 10px 32px 10px;
    left: 0;
    right: 0;
    top:  0;
    min-height: 55%;
    height: auto;
    background-color: rgba(255,255,255,0);
    border-width: 9px 2px 2px 2px;
    -webkit-border-image: url(../images/shadow2.png) 9 2 2 2 repeat;
    padding: 0;
}

.zettel-mobile {   
    position: absolute;
    margin: 5px 5px 30px 5px;
    left: 0;
    right: 0;
    top:  0;
    min-height: 55%;
    height:  auto;
    background-color: rgba(255,255,255,0);
    border-width: 9px 2px 2px 2px;
    -webkit-border-image: url(../images/shadow2.png) 9 2 2 2 repeat;
}

.header {
    position: absolute;
    padding: 20px 20px 0 20px;
    height: 130px;
    width: inherit;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fafafa;
    z-index: 5;
    border-width: 0 0 5px 0;
    -webkit-border-image: url(../images/divider.png) 0 0 5 0 stretch;
}

.header-mobile {
    position: absolute;
    padding: 10px 10px 0 10px;
    height: 80px;
    width: inherit;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fafafa;
    z-index: 5;
    border-width: 0 0 5px 0;
    -webkit-border-image: url(../images/divider.png) 0 0 5 0 stretch;
}

.headline-zettel {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    margin: -5px 110px 0 0;
    overflow: hidden;
    word-wrap: break-word;
    height:  2.75em;
    color: #4C4C4C; 
    line-height: 1.375em;
    font-size: 1.375em;
    font-weight: bold;
    vertical-align: text-top;
    z-index: 5;
}

.headline-zettel-mobile {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    margin: -5px 0 0 80px;
    overflow: hidden;
    word-wrap: break-word;
    height:  2.625em;
    color: #4C4C4C;
    line-height: 1.375em;
    font-size: 1.375em;
    font-weight: bold;
    vertical-align: text-top;
    -webkit-backface-visibility: hidden;
    z-index: 5;
}

.image {
    position: absolute;
    right: 20px;
    float: right;
    height: 92px;
    width: 92px;
    display:table;
}

.image2 {
    position: relative;
    height: 92px;
    width: 92px;
    display: table-cell;
    vertical-align: middle;
}

.image2 img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.image-mobile {
    position: absolute;
    float: left;
    height: 64px;
    width: 64px;
    display:table;
}

.image2-mobile {
    position: relative;
    height: 64px;
    width: 64px;
    display: table-cell;
    vertical-align: middle;
}

.image2-mobile img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.star {
    position: absolute;
    float: left;
    top: 96px;
    left: 20px;
    height: 16px;
    width: 96px;
    z-index: 10;
}

.star-mobile {
    position: absolute;
    float: right;
    top: 90px;
    right: 10px;
    height: 16px;
    width: 96px;
    z-index: 10;
}

/* im header
.modified {
    position: absolute;
    max-width: inherit;
    font-size: 0.8em;
    float: right;
    top: 98px;
    left: 130px;
    height: 16px;
    z-index: 10;
}
*/

.modified {
    position: relative;
    float: left;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    border-width: 5px 0 0 0;
    -webkit-border-image: url(../images/divider.png) 5 0 0 0 stretch;
    display: none; /* Bis die Daten von Springpad da sind*/
}

.modified_text {
    padding: 5px 20px 10px;
    float: right;
    display: block;
    font-size: 0.7em;
    color: #404040;
    background-color: #fafafa;
}

/*
.spacer {
    position: relative;
    float: left;
    bottom: 0;
    left: 0;
    right: 0; 
    padding: 4px  5px 0 0;
    display: block;
    visibility: hidden;
    display: none;
}
*/

.footer {
    position: relative;
    float: left;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
/*
    position: absolute;
    float: left;
*/
    background-color: rgba(0,0,0,0.5);
/*
    bottom: 0;
    left: 0;
    right: 0; 
*/
    padding: 4px 0 0 0;
}

.tag {
    position: relative;
    float: left;
    min-width: 35px;
    min-height: 20px;
    margin: 0 0 4px 5px;
    padding: 3px 8px 3px 8px;
    font-size: 12px;
    background-color: #fff;
    color: #999999;
    -webkit-border-radius: 10px;
    -webkit-border-image: none !important;
    /* border-top: 1px solid #adadad; */
}

.notag {
    position: relative;
    float: left;
    min-width: 35px;
    min-height: 20px;
    margin: 0 0 4px 5px;
    padding: 3px 8px 3px 8px;
    font-size: 12px;
    background-color: #B2B2B2;
    color: #000;
    -webkit-border-radius: 10px;
    -webkit-border-image: none !important;
    /* border-top: 1px solid #adadad; */
}

.shadow {
    position: absolute;
    bottom: -28px;
    right: 10px;
    background-image: url(../images/shadow.png);
    background-repeat: no-repeat;
    width: 340px;
    height: 28px;
}

/* Content */

.content {
    position: relative;
    text-align: justify;
    padding: 152px 20px 20px 20px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,1);
}

.content-mobile {
    position: relative;
    text-align: justify;
    padding: 112px 10px 20px 10px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,1);
    display: block;
}

a {
    text-decoration: none;
    color: #778899;
}

/* Style Sourcelinks: <div id="source"><div class="headline-zettel">Source:</div><img..favicon.><a..url.></div> */
.source-mobile {
    position: relative;
    left: 0;
    right: 0;
    clear: both;
    margin-bottom: 10px;
    font-size: 1em;
}

.source {
    left: 0;
    right: 0;
    clear: both;
    margin-bottom: 10px;  
    line-height: 1em;
    font-size: 1em;
    min-height: 1em;
    height: auto;
    padding: 0;
}

.source div {
    position: absolute;
    display: inline-block;
}

.source img {
    position: absolute;
    padding-left: 8em;
}

.source-mobile img {
    position: absolute;
    bottom: 5px;
}

.source a {
    padding-left: 9.5em;
    word-wrap: break-word;
}

.caption-mobile {
    padding-left: 20px;
    text-decoration: none;
    color: #778899;
    word-wrap: break-word;
}

.caption-print {
    visibility: hidden;
    display: none;
}

/*  Content type headlines */
.subtext-headline {
    position: relative;
    float: left;
    color: #4C4C4C; 
    display: block;
    font-weight: bold;
    width: 7.5em;
    text-align: right;
}

.subtext-headline-mobile {
    color: #4C4C4C; 
    display: block;
    font-weight: bold;
}

.subtext-content {
    display: block;
    padding-left: 8em;
    padding-bottom: 10px;
}

.subtext-content-mobile {
    display: block;
    padding-bottom: 10px;
}

#meOrg_feedWebViewPane_articleContainer_contentArea_tempControl_AddressMap img,
#meOrg_feedWebViewPane_articleContainer_contentArea_tempControl_image img {
    max-width: 100%;
}

.printsource {
    display: none;
}

.scroll-bar {
	width: 6px;
	position: relative;
	background: rgba(0, 0, 0, 0.7); /* edit this to your color */
	height: 50px;
	top: 0px;
	z-index: 1000;
	margin-top: -50px;
	border-radius: 5px;
}

.scroll-bar.hidden {
	opacity: 0;
}
.scroll-bar.shown {
	opacity: 1;
}

 */
</style>
